[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
postgres = "*"
cryptography = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.13"
